* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #ff6900;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

}

.boolean-logo {
    max-height: 50px;
    padding: 20px;
}