* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #ff6900;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.container {
    max-width: 1390px;
    margin: 0 auto;
}

.boolean-logo {
    max-height: 70px;
    padding: 20px;
    height: ;
}

.images-top {
    display: flex;
    padding-top: 30px;
    max-height: 200px;
    display: space-between;


}

.image-1 {
    position: relative;
}


.discount {
    font-size: 40px;
    color: white;
    background-color: red;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    right: 60px;
}

.sostenibilià {
    font-size: 40px;
    color: white;
    background-color: green;
    text-transform: uppercase;
}



/* .image-1 {
    position: relative;
    left: 174px;

}

.image-2 {
    position: relative;
    left: 900px;
}

*/
.image-3 {}

.image-height {
    height: 100%;
    width: 100%;

}