* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #ff6900;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

}

.boolean-logo {
    max-height: 70px;
    padding: 20px;
}

.images {
    padding-top: 30px;
    position: relative;

}

.image-1 {
    position: absolute;
    left: 174px;

}